
:root {
    --color-light: #FAF9F9;
    --color-dark: #555B6E;
    --color-seafoam: #BEE3DB;
    --color-teal: #89B0AE;
    --color-peach: #FFD6BA;

    --font-medium-weight: 400;
    --font-heavy-weight: 900;

    --border-width: 2px;
}

* { margin: 0; }

body {
    background-color: var(--color-light);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.wrapper {
    max-width: 800px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}

a {
    color: var(--color-teal)
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

button {
    background-color: var(--color-seafoam);
    border: var(--border-width) solid var(--color-seafoam);
    color: var(--color-dark);
}
button:enabled:hover {
    cursor: pointer;
    border: var(--border-width) solid var(--color-dark);
}
button:enabled:focus {
    border: var(--border-width) solid var(--color-dark);
}
button:enabled:active {
    border: var(--border-width) solid var(--color-dark);
    background-color: var(--color-dark);
    color: var(--color-light)
}
button:disabled {
    opacity: 0.5;
}
button.large {
    height: 36px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 8px;
}
button.small {
    height: 24px;
    border-radius: 4px;
    padding: 4px 8px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.TextInput > input {
    border: 1px solid var(--color-dark);
}

.TextInput > input:focus {
    border: 1px solid var(--color-teal);
}

.large.TextInput > input {
    height: 40px;
    width: 300px;
    border-radius: 8px;
    padding: 12px 16px;
}

.small.TextInput > input {
    height: 24px;
    border-radius: 4px;
    padding: 4px 8px;
}

.TextInput > label {
    font-size: 8px;
}

.TextInput {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header {
    margin-top: 40px;
    margin-left: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .avatar {
    height: 24px;
    width: 24px;
    border-radius: 24px;
}

.header > h1 {
    user-select: none;
}

.header > h1:hover {
    cursor: pointer;
}

.header.signed_in > h1 {
    font-size: 12px;
    font-weight: var(--font-heavy-weight);
    color: var(--color-dark)
}

.header.signed_out > h1 {
    font-size: 40px;
    font-weight: var(--font-heavy-weight);
    color: var(--color-dark)
}

.manager_home {
    margin-left: 40px;
    margin-right: 40px;
}

.manager_home > h1 {
    font-size: 40px;
    font-weight: var(--font-heavy-weight);
    color: var(--color-dark);
}

.sessionOverview {
    padding: 14px;
    border: 2px solid transparent;
    transform: translateX(-16px);
}

.sessionOverview:hover {
    border: 2px solid var(--color-peach);
    border-radius: 8px;
    cursor: pointer;
}

.sessionOverview > h2 {
    font-size: 24px;
    font-weight: var(--font-heavy-weight);
    color: var(--color-dark);
}

.addContact {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.newSession {
    margin-left: 40px;
    margin-right: 40px;
}

.newSession > h1 {
    font-size: 40px;
    font-weight: var(--font-heavy-weight);
    color: var(--color-dark)
}

.newSession > h3 {
    font-size: 12px;
    font-weight: var(--font-heavy-weight);
    color: var(--color-dark)
}

.contactCheckbox {
    display: flex;
    flex-direction: row;
}

.contactCheckbox > input {
    background-color: var(--color-teal);
}

.contactCheckbox > input:focus {
    outline: none;
}

.participant {
    margin-left: 40px;
    color: var(--color-dark);
}

.existingSession {
    color: var(--color-dark);
}

.existingSession > h1 {
    font-size: 40px;
}