
:root {
    --color-light: #FAF9F9;
    --color-dark: #555B6E;
    --color-seafoam: #BEE3DB;
    --color-teal: #89B0AE;
    --color-peach: #FFD6BA;

    --font-medium-weight: 400;
    --font-heavy-weight: 900;

    --border-width: 2px;
}

.sessionOverview {
    padding: 14px;
    border: 2px solid transparent;
    transform: translateX(-16px);
}

.sessionOverview:hover {
    border: 2px solid var(--color-peach);
    border-radius: 8px;
    cursor: pointer;
}

.sessionOverview > h2 {
    font-size: 24px;
    font-weight: var(--font-heavy-weight);
    color: var(--color-dark);
}

.addContact {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.contactCheckbox {
    display: flex;
    flex-direction: row;
}

.contactCheckbox > input {
    background-color: var(--color-teal);
}

.contactCheckbox > input:focus {
    outline: none;
}