
:root {
    --color-light: #FAF9F9;
    --color-dark: #555B6E;
    --color-seafoam: #BEE3DB;
    --color-teal: #89B0AE;
    --color-peach: #FFD6BA;

    --font-medium-weight: 400;
    --font-heavy-weight: 900;

    --border-width: 2px;
}

.contactCheckbox {
    display: flex;
    flex-direction: row;
}

.contactCheckbox > input {
    background-color: var(--color-teal);
}

.contactCheckbox > input:focus {
    outline: none;
}